.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption {
    bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h1 {
    font-size: 70px;
    font-weight: 600;
}

#Register {}